<div class='ui-state-highlight ui-corner-all'>
	<p><span class='ui-icon ui-icon-info'style="float: left; margin-right: .3em;"></span>
		<strong>Warning!</strong> You appear to have no email address registered in the CLOSER system.
	</p>
	<p>You will now be redirected to the `Consultant Setup` page so you can set your email</p>
</div>