<div class="bgShadow"></div>
<div id="" class="modalWindow modalError">
	<a href="#" class="clsr-button closeWindow">close <span>x</span></a>

	<h3>Page Errors</h3>
	<ul>
		<li><%= content %></li>
	</ul>
</div>