<span class="header">New Route</span>
<div class="inputContainer">
	<label>Endpoint</label>
	<input type="text" name="endpointNew" value="" id="endpointNew" />
</div>
<div class="inputContainer">
	<label>Area Leader</label>
	<input type="text" name="arealeaderNew" value="" id="arealeaderNew" />
</div>
<div class="buttons">
	<button id="saveButton" type="button">Save</button>
	<button id="cancelButton" type="button">Cancel</button>
</div>