<div id="toolbarRoute" class="toolbarBottom">
	<div id="statusBar"></div>
	<a href="#" id="addNewRoute"><img src="/gimp2/images/button_add.png" alt="Add New Route" /></a>
	<div class="bulkEditing">
		<span class="header">Bulk Editing</span>
		<a href="#" id="editTargetButton"><img src="/gimp2/images/button_edittarget.png" alt="Edit Target" /></a>
		<a href="#" id="editArealeaderButton"><img src="/gimp2/images/button_editarealeader.png" alt="Edit Area Leader" /></a>
		<a href="#" id="addRulesButton"><img src="/gimp2/images/button_addrules.png" alt="Add Rules" /></a>
		<a href="#" id="removeRoutesButton"><img src="/gimp2/images/button_removeroutes.png" alt="Remove Routes" /></a>
	</div>
	<a href="#" id="deleteRoute">&nbsp;</a>
</div>