<div class='ui-state-highlight ui-corner-all'>
	<p><span class='ui-icon ui-icon-info'style="float: left; margin-right: .3em;"></span>
		<strong>Warning!</strong> The search results have been truncated to 30 enquiries. If you cannot find the enquiry that you are looking for, please refine your search by:
		<ul>
			<li>Providing a customer email</li>
			<li>Narrowing the date range</li>
			<li>Specifying a status</li>
		</ul>
	</p>
</div>