<h2>CMail</h2>
<div class="field">
	<label>To:</label>
	<input type="text" name="toAddress" value="" class="toAddress"></input>
</div>
<div class="field">
	<label>From:</label>
	<input type="text" name="fromAddress" value="" class="fromAddress"></input>
</div>
<div class="field">
	<label>CC:</label>
	<input type="text" name="ccAddress" value="" class="ccAddress"></input>
</div>

<div class="field">
	<label>BCC:</label>
	<input type="text" name="BCCAddress" value="" class="BCCAddress"></input>
</div>
<div class="field">
	<label>Subject:</label>
	<input type="text" name="subject" value="" class="subject"></input>
</div>
<div class="field">
	<label>Email:</label>
	<input type="text" name="email" value="" class="email"></input>
</div>