<div class="outcomeHotOrNot">
	<span class="subHeading">Was that product <strong><em>Hot</em></strong> or <strong><em>Not</em></strong>:</span>

	<div class="hotOrNotOptions">
		<input type="radio" name="hotOrNot" value="true" id="hotOrNot_true" class="hotOrNot" />
		<label for="hotOrNot_true">Hot</label>
		
		<input type="radio" name="hotOrNot" value="false" id="hotOrNot_false" class="hotOrNot" />
		<label for="hotOrNot_false">Not</label>
	</div>
	
	<span class="subHeading">Tell us why?</span>
	<textarea name="hotOrNotText" class="hotOrNotText hotOrNotReason"></textarea>
</div>
