<div class="outcomeDetailsBox">
	<span class="subHeading"></span>
	<div>
		<label>Booking TTV:</label>$
		<input type="text" name="bookingTTV" value="" class="dollarInput text" />
	</div>
	<div class="outcomeUpsell">
		<span class="subHeading">Did you upsell the customer?</span>
		<% $.each(outcomes, function(key, value) { %>
			<input type="radio" name="outcomeUpsell" value="<%= value.getID() %>" rel="<%=value.getCode()%>" id="outcome_<%=value.getID()%>" class="outcomeInput" />
			<label for="outcome_<%=value.getID()%>">
				<% if( value.getCode() == "UPSELL" ) { %>Yes<% } else { %>No<% } %>
			</label>
		
		<% }); %>

		<input type="hidden" id="upsell" name="upsell" value="false" />

		 <!-- name="outcomeInput" -->
	</div>
</div>