<div class="finishBox">
	<form>
		<div class="header">
			<span class="name"><%= enquiry.getCustomerName() %></span>
			<span class="email"><%= enquiry.getCustomerEmail() %></span>
		</div>
		<div class="outcomeBox">
			<span class="heading">How did the Enquiry go?</span>
			<div class="options">
				<input type="radio" name="outcome" value="SALE" class="outcomeSale" title="Sale" id="outcomeSale" /><label for="outcomeSale">Sale</label>
				<input type="radio" name="outcome" value="NO_SALE" class="outcomeNosale" id="outcomeNosale" title="Nosale"/><label for="outcomeNosale">No sale</label>
			</div>
		</div>
	</form>
	<div class="buttons">
		<button class="saveButton clsButton" type="button">Finish Enquiry</button>
	</div>
</div>
