<h2>Get more Enquiries</h2>
<div class="enquiryRetrieveBox">
	<div class="left">
		<h3>Select a Queue(# in queue)</h3>
		<select name="" class="queueList" size="5">
			<option value="">Please Wait...</option>
		</select>
	</div>
	<div class="right">
		<button type="button" class="getNextEnquiry clsButton">Get next Enquiry</button>

		<table>
			<tbody>
				<tr>
					<th>Limit:</th>
					<td class="enquiryLimit data">&nbsp;</td>
				</tr>
				<tr>
					<th>Remaining Quota:</th>
					<td class="remainingLimit data">&nbsp;</td>
				</tr>
				<tr>
					<th>In Progress /<br>
						Waiting For Response:</th>
					<td class="waitingResponse data">&nbsp;</td>
				</tr>
			</tbody>
		</table>
		<%/*
		<div><span class="label">Limit:</span><span class="enquiryLimit data">NA</span></div>
		<div><span class="label">Remaining Quota:</span><span class="remainingLimit data">NA</span></div>
		<div><span class="label">In Progress / <br>Waiting For Response:</span><span class="waitingResponse data">NA</span></div>
		*/%>
	</div>
	<div class="clr"></div>
</div>
