<!-- <img src="" alt="Close" class="closeWindow" /> -->
<a href="#" class="clsr-button closeWindow">close <span>x</span></a>
<span class="email"></span>
<h3>How did the enquiry go?</h3>
<div class="inputBox">
	<input type="radio" name="sale" value="sale" class="saleInput" />
	<input type="radio" name="sale" value="nosale" class="noSaleInput" />
</div>
<div class="buttons">
	<button type="button" class="closeEnquiryButton">Close Enquiry</button>
</div>