<input type="text" name="reassignConsultant" value="" class="reassignConsultant" />
<button type="button" class="reassignDoButton clsButton">Re-assign</button>
<button type="button" class="cancelButton clsButton">Cancel</button>