<% for(var i = 0; i < data.length; i++){%>
	<option value="<%= data[i].getDomain() %>"<%if( data[i].getDomainID() == 2390305 ){%> selected="selected"<%}%>><%= data[i].getDomain() %></option>
<% } %>