<div class="filters">
	<p class="title">Filter <%= pageData.component %></p>
	<div class="fields">
		<input type="text" name="filterKeyword" value="Enter Text" class="textFilter autoclear"></input>
		<button type="button" class="applyTextFilter clsButton">apply</button>
		<button type="button" class="clearTextFilter clsButton">clear</button>
	</div>
</div>