
<div class="sorting">
	<div class="col1">
		<a href="nameSort" class="enquiryNameSort sortButton">
			<span class="title">Customer</span>
		</a>
	</div>
	<div class="col2">
		<a href="queueSort" class="enquiryQueueSort sortButton">
			<span class="title">Queue</span>
		</a>
	</div>
	<div class="col3">
		<a href="ageSort" class="enquiryAgeSort sortButton">
			<span class="title">Age</span>
		</a>
	</div>
	<div class="col4">
		<a href="progressSort" class="enquiryProgressSort sortButton">
			<span class="title">Progress</span>
		</a>
	</div>
</div>
<div class="<%= data.listContainer %>"></div>

<div class="paging"></div>
