<div class="closer-LoginPanel">
    <div class="messageField" style="display: none;"></div>
    <div class="username">
      <label for="usernameField">Username:</label>
      <input type="text" class="usernameField tooltipTrigger" id="usernameField" />
      <div class="tooltip"><strong>Username:</strong> Please enter your <strong>domain</strong> username (e.g. smithj). Please do NOT append the domain (e.g. @fcl.internal) but rather use the domain selector field below instead.</div>

    </div>
    <div class="password">
      <label for="passwordField">Password:</label>
      <input type="password" class="passwordField tooltipTrigger" id="passwordField" />
      <div class="tooltipSmall"><strong>Password:</strong> Please enter your domain password.</div>
    </div>

    <div class="domain">
      <label for="domainField">Domain:</label>
      <select id="domainField" class="tooltipTrigger" name="domainLogin">
        <option value="">Please Wait Loading...</option>
      </select>
      <div class="tooltip">
        <strong>Domain:</strong> If you are in Australia please select <strong>au.fcl.internal</strong> or if you are in New Zealand please select <strong>nz.fcl.internal</strong>, and so on. Once you have logged in successfully your browser will remember your choice.
      </div>
    </div>
    <div>
      <button type="button" class="loginButton">Login</button>
    </div>

	  <div id="domainCustomPanel">
	    <div class="loginHint">
	      <p><b>New to Closer?</b> please read the <a href="http://intranet.au.flitech.net/retail/docs/closer/getting_started.pdf" target="_blank">Getting Started</a> guide.</p>
	      <p>If you are unsure of your Closer username please <a href="http://wssreset.au.flitech.net/FindAccount.aspx?SearchForm=FINDBYEMAIL"target="_blank">click here</a>.</p>
	      <p>If you have forgotten your email password, <a target="_blank" href="http://wssreset.au.flitech.net/">click here</a> to reset it.</p>
	      <p>To request access to a closer queue, <a target="_blank" href="http://intranet.au.flitech.net/fctechnology/forms/Enquiry_Folder_Access_Request.php">click here</a> to complete and submit the request form.</p>
	    </div>
	  </div>
  </div>
