<div class="textAlignRight subNavBar">
	<button class="clsButton refreshCloserQueues" type="button">Refresh queues</button>
</div>
<div class="sorting">
	<div class="col1">
		<a href="nameSort" class="activeDesc manageQueueNameSort sortButton">
			<span class="title">Name</span>
			<span class="icon"></span>
		</a>
	</div>
	<!-- <div class="col2">
		<a href="descriptionSort" class="manageQueueDescriptionSort sortButton">
			<span class="title">Description</span>
			<span class="icon"></span>
		</a>
	</div>
	<div class="col3">
		<a href="statusSort" class="manageQueueStatusSort sortButton">
			<span class="title">Active/ Inactive</span>
			<span class="icon"></span>
		</a>
	</div>
	-->
	<div class="col4">
		<a href="countsSort" class="manageQueueCountsSort sortButton">
			<span class="title">Counts</span>
			<span class="icon"></span>
		</a>
	</div>
</div>
<div class="<%= data.listContainer %>"></div>
<div class="textAlignRight subNavBar">
	<button class="clsButton refreshCloserQueues" type="button">Refresh queues</button>
</div>