<div class="sorting">
	<div class="col1">
		<a href="nameSort" class="activeDesc queueReportNameSort sortButton">
			<span class="title">Name</span>
			<span class="icon"></span>
		</a>
	</div>
	<%/*%>
	<div class="col2">
		<a href="statusSort" class="queueReportStatusSort sortButton">
			<span class="title">Active/ Inactive</span>
			<span class="icon"></span>
		</a>
	</div>
	<%*/%>
	<div class="col3">
		<a href="numEnquiriesSort" class="queueReportNumEnquiriesSort sortButton">
			<span class="title"># Enquiries</span>
			<span class="icon"></span>
		</a>
	</div>
	<div class="col4">
		<a href="numAllocatedSort" class="queueReportNumAllocatedSort sortButton">
			<span class="title"># Allocated</span>
			<span class="icon"></span>
		</a>
	</div>
	<div class="col5">
		<a href="numUnallocatedSort" class="queueReportNumUnallocatedSort sortButton">
			<span class="title"># Unallocated</span>
			<span class="icon"></span>
		</a>
	</div>
	<div class="col6">
		<a href="averageAgeAllocatedSort" class="queueReportAvgAgeAllocatedSort sortButton">
			<span class="title">Avg Age Allocated</span>
			<span class="icon"></span>
		</a>
	</div>
	<div class="col7">
		<a href="averageAgeUnallocatedSort" class="queueReportAvgAgeUnallocatedSort sortButton">
			<span class="title">Avg Age Unallocated</span>
			<span class="icon"></span>
		</a>
	</div>
</div>
<div class="<%= data.listContainer %>"></div>

