<div class="sorting">
	<a href="nameSort" class="activeDesc">
		<span class="title">Name</span>
		<span class="icon"></span>
	</a>
	<a href="queueSort">
		<span class="title">Queue</span>
		<span class="icon"></span>
	</a>
	<a href="receivedDateSort">
		<span class="title">Received</span>
		<span class="icon"></span>
	</a>
	<a href="statusSort">
		<span class="title">Status</span>
		<span class="icon"></span>
	</a>
	<a href="consultantSort">
		<span class="title">Consultant</span>
		<span class="icon"></span>
	</a>
</div>
<div class="searchListing">
	<h1 style="text-align:center;">In Progress</h1>
</div>
<div class="paging"></div>
