<% for(var i = 0; i < data.length; i++){%>
	<tr class="manageEnquiry<% if(data[i].getPriority()){ %> priority<% } %>" <%= data[i] %>>
		<td class="date"><%= data[i].getDate() %></td>
		<td class="customer"><span><%= data[i].getCustomerEmail() %></span></td>
		<td class="age">&nbsp;<%= data[i].getAge() %></td>
		<td class="actions">
			<button type="button" class="highPriorityEnquiry clsButton">High Priority</button>
			<button type="button" class="removeEnquiry clsButton">Remove</button>
		</td>
	</tr>
<%}%>