<form action="" method="get" accept-charset="utf-8">
	<h4><%=form.title%></h4>
	<label for='user_input'><%=form.userField%></label>
	<input type="text" name="user_input" id="user_input" value="">

	<button type="submit"><%=form.sendButton%></button>
</form>