<div class="cmailAttachmentField">
	<form action="<%= Closer.Controllers.Application.settings.dataUrl + Closer.Controllers.Application.settings.fileUploadUrl %>" method="post" enctype="multipart/form-data">
		<input type="hidden" name="MAX_FILE_SIZE" value="2048" />
		<input type="file" name="file" value="" class="cmailAttachment" rel="" />
		<!-- <input type="submit" name="submitForm" class="submit" value="Upload" /> -->
	</form>
	<iframe id="upload_target<%= number %>" name="upload_target<%= number %>" src="" style="display:none"></iframe>
</div>