<div class="attachment cmailSection">
	<span class="filename"> <%= fileName %></span>
	<button type="button" class="removeFile">Remove File</button>
	<input type="hidden" name="attachment[<%= fileName %>]" value="<%= attachment %>" class="cmailAttachment" />
</div>

